{% extends 'base.html' %}

{%block title%}تغيير كلمة المرور {%endblock%}

{% block breadcrumb %}
    <li class="breadcrumb-item active">تغيير كلمة المرور </li>
{%endblock%}

{% block content %}
<section id="team" class="team">
  <div class="container col-lg-4">
  
    <div class="section-title">
      <h2>تغيير كلمة المرور</h2>
      <form method="post" novalidate class="m-2">
        {% csrf_token %}
        {% include 'includes/form.html'%}
        <button type="submit" class="btn btn-success">حفظ التغييرات</button>
      </form>
    </div>
  </div>
</section>
 
{%endblock%}