{% extends 'base.html' %}
{% block title %}تم تعديل كلمة المرور بنجاح{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item "><a href="{%url 'password_change'%}">تعديل كلمة المرور</a> </li>

  <li class="breadcrumb-item active">تم التعديل بنجاح</li>
{% endblock %}

{% block content %}

<div class="alert alert-success" role="alert">
    <strong>تم!</strong> تم تعديل كلمة المرور بنجاح
  </div>
  <a href="{% url 'worod_app:index' %}" class="btn btn-secondary">الرجوع إلى الصفحة الرئيسية</a>
{% endblock %}