{% extends 'base.html' %}


{% load crispy_forms_tags %}


{% block content %}

<br>

<section id="team" class="team">
    <div class="container">
        <h1 class="text-center logo my-4">
          <a href="{% url 'libary_app:index' %}">  إضافة كتاب جديد </a>
        </h1>
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-10 col-sm-12">
            <div class="card">
              <div class="card-body">
               
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group m-2">
                        {{form | crispy}}
                    </div>
                      
                        <button class="btn btn-dark my-4" type="submit">Submit</button>
                  </form>
              </div>
             
            </div>
          </div>
        </div>
      </div>
</section>
 
{%endblock%}
