{% extends 'base.html' %}
{% load static %}
{%block slider%}
  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          {% for x in book %}  
          <div class="carousel-item {% if forloop.first %} active {% endif %}">
            <div class="carousel-background"><img src="{{x.pic_book.url}}" height="800" style="display: block;
              margin: 0 auto; max-height: 100%;" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown"> {{x.title}}<span></span></h2>
                <p class="animate__animated animate__fadeInUp"> {{x.summary}} </p>
                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto"> التفاصيل  </a>
              </div>
            </div>
          </div>
{%endfor%}


        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-double-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-double-right" aria-hidden="true"></span>
        </a>

      </div>
    </div>
  </section><!-- End Hero -->
{%endblock%}
{% block content %}
<div class="grid-section">
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}">
      {{ message|safe }}
  </div>
  {% endfor %}
  {% endif %}

</div>
<section id="counts" class="counts card-d w-100  p-5 m-3">
  <p style="color: #ff0077; font-size: 25px; text-align: center;"> المكتبة في أرقام </p>
  <hr>
  <br>
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
        <div class="count-box">
          <span data-purecounter-start="0" data-purecounter-end="{{TOTAL}}" data-purecounter-duration="2"
            class="purecounter"></span>
          <p style="color: #ff0077; font-size: 25px; text-align: center;"> عدد الكتب </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
        <div class="count-box">
          <span data-purecounter-start="0" data-purecounter-end="{{AR}}" data-purecounter-duration="2"
            class="purecounter"></span>
          <p style="color: #99c2ff; font-size: 25px; text-align: center;"> كتاب عربي </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-5 col-6  align-items-md-stretch">
        <div class="count-box">
          <span data-purecounter-start="0" data-purecounter-end="{{ EN}}" data-purecounter-duration="2"
            class="purecounter"></span>
          <p style="color: #ffdf80;; font-size: 25px; text-align: center;"> كتاب إنجليزي </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
        <div class="count-box">
          <span data-purecounter-start="0" data-purecounter-end="{{s_viwes}}" data-purecounter-duration="2"
            class="purecounter"></span>
          <p style="color: #ff0077; font-size: 25px; text-align: center;"> عدد الزوار </p>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Counts Section -->
<section class="counts section-bg" id="section">
    <div class="container">
        <div class="section-title">
            <h2>أقسام المكتبة</h2>
            
          </div>
      <div class="row no-gutters">

        {% for g in cat %}
          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch m-3 align-center">
            <div class="count-box">
              <i class="bi bi-grid-fill"></i>
              <h4><strong>قسم :</strong>{{g.category}}</h4>
              <p><strong>عدد الكتب   :</strong><span style="color: #00c7c7; data-purecounter-start="0" data-purecounter-end="{{g.get_category_count}}" data-purecounter-duration="1" class="purecounter"></span></p>
              
              <a href="{% url 'libary_app:category_isbn' isbn_id=g.id %}">تفاصيل أكثر &raquo;</a>
            </div>
          </div>
          {%endfor%}

        

        

      </div>

    </div>
  </section><!-- End Counts Section -->
<!-- ======= Our Team Section ======= -->
<section id="team" class="team">
<div class="container">

  <div class="section-title">
    <h2>أكثر الكتب قراءه</h2>
    
  </div>

  <div class="row">

    
     
    {% for x in book %}
    <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.1s">
      <div class="member">
        <img src="{{x.pic_book.url}}" style="display: block; margin: 0 auto; max-height: 300px;" class="img-fluid" alt="">
        <div class="member-info">
          <div class="member-info-content">
            <h4>{{x.title}} </h4>
            <span>{{x.summary}}</span>
          </div>
          <div class="social">
            
            <a href=""><i >عدد المشاهدات :{{x.views}}</i></a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}





  </div>

</div>
</section><!-- End Our Team Section -->


<!-- ======= Contact Us Section ======= -->
<section id="contact" class="contact section-bg">

<div class="container">
  <div class="section-title">
    <h2> الدعم الفني </h2>
    <p>بإمكانك التواصل مع تقنية المعلومات من خلال تعبئة النموذج التالي أو إرسال رسالة على إيميل العمادة من خلال الدخول على قائمة الإيميلات هنا و إختيار إيميل العمادة المطلوبه :</p>
  </div>
</div>

<div class="container-fluid">

  <div class="row">

    <div class="col-lg-6 d-flex align-items-stretch infos">

      <div class="row">

        <div class="col-lg-6 info d-flex flex-column align-items-stretch">
          <i class="bx bx-map"></i>
          <h4>العنوان</h4>
          <p>الدوادمي,<br> وأنت جاي من الرياض على اليمين قبل تدخل الدوادمي</p>
        </div>
        <div class="col-lg-6 info info-bg d-flex flex-column align-items-stretch">
          <i class="bx bx-phone"></i>
          <h4>أرقام التواصل</h4>
          <p>055<br>و الباقي ماتغير</p>
        </div>
        <div class="col-lg-6 info info-bg d-flex flex-column align-items-stretch">
          <i class="bx bx-envelope"></i>
          <h4>الإيميل</h4>
          <p>contact@example.com<br>info@example.com</p>
        </div>
        <div class="col-lg-6 info d-flex flex-column align-items-stretch">
          <i class="bx bx-time-five"></i>
          <h4>ساعات العمل</h4>
          <p>خلال ساعات الدوام الرسمي<br>من الأحد للخميس</p>
        </div>
      </div>

    </div>

    <div class="col-lg-6 d-flex align-items-stretch contact-form-wrap">
      <form action="forms/contact.php" method="post" role="form" class="php-email-form">
        <div class="row">
          <div class="col-md-6 form-group">
            <label for="name">الإسم</label>
            <input type="text" name="name" class="form-control" id="name" placeholder="الإسم" required>
          </div>
          <div class="col-md-6 form-group mt-3 mt-md-0">
            <label for="email">الإيميل</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="الإيميل" required>
          </div>
        </div>
        <div class="form-group mt-3">
          <label for="subject">العنوان</label>
          <input type="text" class="form-control" name="subject" id="subject" placeholder="العنوان" required>
        </div>
        <div class="form-group mt-3">
          <label for="message">الرسالة</label>
          <textarea class="form-control" name="message" rows="8" required></textarea>
        </div>
        <div class="my-3">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Your message has been sent. Thank you!</div>
        </div>
        <div class="text-center"><button type="submit">إرسال</button></div>
      </form>
    </div>

  </div>

</div>
</section><!-- End Contact Us Section -->
{% endblock %}